.App {
  margin-top: 50px;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: "Yomogi", cursive;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0.664),
    rgba(255, 255, 0, 0.432)
  );
  height: 100vh;
}

button {
  margin: 25px;
  padding: 25px;
  border: none;
  border-radius: 12px;
  background-color: rgba(159, 255, 247, 0.932);
  font-family: "Yomogi", cursive;
  font-size: x-large;
}

button:hover {
  transform: scaleX(1.2);
  cursor: pointer;
  background-color: yellowgreen;
  color: white;
  font-weight: bolder;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px grey;
  border: solid black;
  border-width: 1px;
  margin: 15px 15px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  display: flex;
}

.circle:hover {
  background-color: rgb(93, 182, 255);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  justify-content: center;
}

.green {
  background-color: chartreuse;
}

.yellow {
  background-color: rgb(255, 248, 154);
}

.blue {
  background-color: cyan;
}

.brown {
  background-color: rgba(165, 42, 42, 0.658);
}

.circle p {
  font-size: 2rem;
}
